.App {
  text-align: center;
  padding: 300px;
}

body {
  background: url("./Blueskyclouds.png");
}

.search-bar {
  font-size: 30px;
}

button {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(211, 237, 255);
  color: black;
  padding: 20px;
  font-size: 30px;
  margin: 20px;
}
